/* General */

html {
	background-color: #181d1f;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}

.page {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap:wrap;
	align-items: stretch;
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	margin-left: 30px;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	margin-top: 40px;
	padding: 0;
	width: 100%;
	background-color: #181d1f;
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
}

.description {
	font-size: 15px;
	line-height: 1.4em;
	max-width: 800px;
	color:rgb(195, 214, 231);
}


/* Card */
.card {
	display: flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	background-color: rgb(66, 63, 68);
	padding: 10px;
	max-width: 400px;
	margin: 20px;
	margin-left: 0px;
	box-shadow: 0px 0px 10px rgba(82, 84, 104, 0.5);
	border-radius: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(82, 84, 104);
}

.card:hover {
	transform: skewY(-1deg);
	border-color: #5cb85c;
	background-color: rgb(103, 97, 107);
}

.card-title {
	margin: 0;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}

.space {
	flex-grow: 1;
}

.card-description {
	margin: 0;
	color:rgb(195, 214, 231);
	font-size: 15px;
	font-style: italic;
}

/* Motivation */
.box {
	width: 5px;
	height: 10px;
	padding: 5px;
	margin-left: 5px;
	background-color: #5a5f5c;
	border-radius: 3px;
}

.checked {
	background-color: #5cb85c;
}

.row {
	margin-top: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items:center;
}

.spacer {
	margin-top: auto;

}

.mini-title {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

/* Status */

.status {
	margin-left: 5px;
	font-size: 16px;
	font-style: italic;
}

.active, .released {
	color: #5cb85c;
}

.beta {
	color: #ecd02d;
}

.alpha {
	color: #f0ad4e;
}

.retired, .inactive{
	color: #d9534f;
}





