{{ define "main" }}
    <div class="sirlich-icons">
        <img class="sirlich1" src="/skull.webp">
        <img class="sirlich2" src="/winter.webp">
        <img class="sirlich3" src="/squid.webp">
        <img class="sirlich4" src="/worm.webp">
        <img class="sirlich5" src="/flower.webp">
        <img class="sirlich6" src="/red.webp">
        <img class="sirlich7" src="/godot.webp">
        <img class="sirlich8" src="/lemon.webp">
        <img class="sirlich9" src="/water.webp">
        <img class="sirlich10" src="/kuwai.webp">
    </div>
    {{ $style := resources.Get "css/index.css"}}
    {{ partial "posts.html" . }}
{{ end }}
